.container{
  min-height: 100vh;
  background-color: var(--color-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__quiz{
  width: 25rem;
}
.footer-question{
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}