.bg_answer_correct{
  background-color: var(--color-bg-answer-true);
  color: var(--color-bg-answer-numbering-true);   //*test
}
.bg_answer_false{
  background-color: var(--color-bg-answer-false);
  color: var(--color-bg-answer-numbering-false);  //*test
}
.bg_answer_correct, .bg_answer_false{
  // color: var(--color-txt-black);
  font-weight: bold;
}
.p-relativ{
  position: relative;
}
.txt-center{
  text-align: center;
}
.width-100{
  width: 100%;
}